#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 56px;
    left: 0;
    background-color: rgba(17, 17, 17, 0.95);
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 20px;
    z-index: 999;
}

#sidebar.open {
    width: 200px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    white-space: nowrap;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#sidebar a[href="character-2024.html"] {
    font-size: 10px;
}

#menu-toggle {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    color: #111;
    z-index: 3;
}

#spine-container {
    margin: 0 auto;
    width: 800px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.control-group {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

#animation-select {
    width: 240px;
}

#controls-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1200px;
}

#arrow-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: absolute;
    margin-left: 70px;
    top: 330px;
}

#arrow-controls div {
    display: flex;
    justify-content: center;
    gap: 55px;
}

#arrow-controls button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

#arrow-controls button:active {
    background-color: #dcdcdc;
}

#text-box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 150px;
    width: 250px;
}

/* 手機端播放器大小 */
@media (max-width: 1300px) {
    #spine-container {
        width: 360px;
        height: 450px;
        margin: 0 auto;
        position: relative;
    }

    #controls-wrapper {
        display: block;
        margin-left: 0;
        margin-top: 5px;
        position: static;
    }

    #arrow-controls {
        position: absolute;
        right: 20%;
        top: 590px;
        transform: translateX(50%);
    }

    #text-box {
        position: absolute;
        left: 30%;
        top: 610px;
        transform: translateX(-50%);
        width: 185px;
    }
}
